venv/
__pycache__/
.env
.env.*
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
.DS_Store
.idea/
.vscode/
alembic/versions/*.pyc

/fansonly.sql
/olddb.dump
/dump.sql
/alembic.ini

.gitignore
olddb.dump
dump.sql
fansonly.sql
cloud-sql-proxy
README.md
docker/